<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs' ) %>
    <h1>Server Error</h1>
    <p>We are working on this, Sorry for the inconvenience</p>

<%- include('includes/end.ejs') %>